.grilla-tareas{
  display: flex;
  flex-flow: column;
}
.grilla-tareas .tarea{
  margin-top: 1em;
}

@media (min-width: 32em){
  .grilla-tareas{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    align-content: center;
    grid-gap: 2em 1em;
  }
}

.opciones{
  margin: 0;
  height: 0;
  width: 0;
  visibility: collapse;
  opacity: 0;
  transition: opacity 0.3s;
}
.opciones-flotantes{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--color-normal);
  padding: 1em 2em;
}
.opciones, .opciones-flotantes{
  display: flex;
  flex-flow: column;
}
.opciones-flotantes.visibles .opciones{
  opacity: 1;
  visibility: visible;
  margin: 2.5em 0 0;
  height: auto;
  width: auto;
}
.opciones-flotantes.visibles #alternar-opciones i{
  transform: rotateZ(-90deg);
}
#alternar-opciones i{
  transition: transform 0.3s;
  transform: rotateZ(90deg);
}
.alternador{
  transition-duration: var(--transicion-corta);
  transition-property: opacity;
  background-color: var(--color-normal);
  display: flex;
  align-items: center;
  height: max-content;
}
.alternador + .alternador {
  margin-top: 1em;
}
@media (min-width: 40em){
  .opciones-flotantes{
    padding-bottom: 0;
  }
  .alternador + .alternador{
    margin-top: 0;
  }
  .alternador{
    margin-left: 1em;
    flex-grow: 0;
    margin-bottom: 1em;
  }
  /* Solo funciona en firefox */
  /* @supports (gap: 1em){ */
    /* .opciones-flotantes.visibles .opciones{
      gap: 1em;
    } */
  /* } */
  .opciones-flotantes.visibles .opciones{
    margin: 0 0 0 2.5em;
    flex-flow: row wrap;
  }
  .opciones-flotantes, .opciones{
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
  }
  .opciones-flotantes.visibles .opciones .alternador{
    flex-grow: 1;
  }
  #alternar-opciones i{
    transform: rotateZ(0deg);
    transition: transform 0.3s;
  }
  .opciones-flotantes.visibles #alternar-opciones i{
    transform: rotateZ(180deg);
  }
}
.alternador:hover{
  opacity: 0.7;
}
.alternador.grande{
  font-size: 2em;
}
#pendientes > span, #pendientes em{
  font-weight: 700;
  font-style: normal;
}
#pendientes > span, .campo-editable{
  cursor: pointer;
  padding: 0.2em 0;
}
.tarea input{
  min-width: 0;
  flex-grow: 1;
  margin-right: 0.3em;
}
.tarea .campo-editable.placeholder{
  font-style: italic;
}
#pendientes > span:hover, .campo-editable:hover{
  text-decoration: underline;
}

#agregar-tarea{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
#alternar-texto i{
  margin-right: 0.3em;
}

#contador-tareas{
  display: block;
  font-weight: 400;
  font-size: 0.7em;
}

.tarea{
  overflow-wrap: anywhere;
}
.tarea.completa div{
  text-decoration: line-through;
  color: var(--color-contraste-suave);
}
.tarea, .grilla-tareas .tarea > div{
  display: flex;
}
.tarea, .carga .tarea > div{
  flex-flow: column;
}

.grilla-tareas .tarea button{
  margin-top: 1em;
}
.grilla-tareas .tarea > div{
  align-items: center;
  flex-flow: row nowrap;
}
