/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');*/

:root{
  font-size: calc(0.9em + 0.6vmax);
}
body{
  margin: 0;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--color-base);
  color: var(--color-contraste);
  --radio-bordes: 0.2em;
  --sombra-controles: 0 0 0em 0.15em var(--color-enfasis);
}
button{
  background-color: var(--color-base-light);
  cursor: pointer;
  color: inherit;
}
button, input{
  font-size: 1em;
  border: none;
  box-shadow: 0 0 0.25em var(--color-base-dark);
  border-radius: var(--radio-bordes);
  padding: 0.25em 0.5em;
}
button:hover{
  background-color: var(--color-base-lighter);
}
button:hover, input:hover{
  box-shadow: 0 0 0.5em var(--color-base-dark);
}
button:focus, input:focus{
  box-shadow: var(--sombra-controles);
  outline: none;
}

header{
  background-color: var(--color-base-dark);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

header h1{
  margin: 0;
}
header span{
  font-size: 1.5em;
}

.campo-editable{
  cursor: pointer;
}
.campo-editable i{
  opacity: 0;
}
.campo-editable:hover i{
  opacity: 1;
}

.flotante--centrado{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.oculto{
  visibility: hidden;
  opacity: 0;
}

.tablero{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
  gap: 1.5em 1em;
}

.backdrop{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

header, .tablero{
  padding: 2em 10% 1em;
}
