@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root{
  font-size: calc(0.8rem + 0.4vmax);
  --color-contraste: rgba(255, 255, 255, 1);
  --color-normal: rgba(0, 0, 0, 1);
  --color-normal-suave: rgba(60, 60, 60, 1);
  --color-contraste-suave: rgba(170, 170, 170, 1);
  --color-peligro: rgba(255, 60, 60, 1);
  --color-peligro-apagado: rgba(138, 15, 15, 1);
  --color-exito: rgb(80, 150, 200);
  --transicion-corta: 0.2s;
}
h1, h2, p{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Source Sans Pro";
  margin: 0;
  font-size: 1.2em;
  color: var(--color-contraste);
  background-color: var(--color-normal);
  position: relative;
}
i{
  margin-right: 0.3em;
}
header{
  align-items: center;
  background-color:inherit;
  justify-content: space-between;
  flex-flow: row wrap;
  display: flex;
}
header, main{
  padding: 1em 2em;
}
main{
  background-color: var(--color-normal-suave);
}
main h1{
  margin-bottom: 0.5em;
  font-size: 2em;
  text-align: center;
}
main h2{
  font-weight: 600;
}

.fas.fa-pen{
  transition-property: opacity;
  transition-duration: var(--transicion-corta);
  opacity: 0;
  margin-right: 0;
  margin-left: 0.3em;
  font-size: 0.8em;
}
.campo-editable:hover + .fas.fa-pen, .fas.fa-pen.visible{
  opacity: 1;
}
