main > .opciones{
    position: fixed;
    bottom: 0.5em;
    right: 1em;
    z-index: 1;
    display: flex;
    flex-flow: column;
    max-height: 2.5em;
    overflow: auto;
    gap: 0.5em;
}
@media (min-width: 40em){
    main > .opciones{
        flex-flow: row wrap;
        justify-content: flex-end;
        max-height: unset;
        overflow: initial;
        bottom: 1em;
    }
}