.tarea{
  border: 1px solid var(--color-contraste-darker);
  border-radius: var(--radio-bordes);
  padding: 1em 1em 0;
  background-color: var(--color-base);
  color: var(--color-contraste);
  overflow: hidden;
  position: relative;
  max-height: 75vh;
  overflow-y: auto;
}
.tarea--activa{
  border-color: var(--color-contraste);
  min-width: 75%;
  width: max-content;
}
.tarea--arrastrando{
  cursor: grabbing;
  opacity: 0.5;
}
.tarea__titulo{
  margin: 0;
  margin-bottom: 0.5em;
}
.tarea__descripcion{
 margin: 0;
 text-align: justify;
 margin-bottom: 1em;
}
.tarea__titulo, .tarea__descripcion{
  padding: 0.1em 0;
}
.tarea:hover .tarea__opciones{
  opacity: 1;
}
.tarea__opciones{
  opacity: 0;
  position: sticky;
  bottom: 10px;
  transition-duration: 0.2s;
  transition-property: opacity;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}
.tarea__opciones.visible{
  opacity: 1;
}

.tarea--completa{
  color: var(--color-contraste-darker);
}

.tarea--completa .tarea__titulo, .tarea--completa .tarea__descripcion{
  text-decoration: line-through;
}

.tarea__titulo, .tarea__descripcion{
  color: inherit;
}

.tarea__opciones{
  color: var(--color-contraste);
}
